# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.env
dist
build


node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml
backend/.env
frontend/jobportal/.env
frontend/jobportal/dist
frontend/jobportal/node_modules
frontend/jobportal/.vite
frontend/jobportal/.turbo
frontend/jobportal/.cache
frontend/jobportal/build
frontend/jobportal/.DS_Store
frontend/jobportal/.history
frontend/jobportal/.idea
frontend/jobportal/.vscode
frontend/jobportal/yarn-error.log
frontend/jobportal/pnpm-debug.log
backend/node_modules
backend/.DS_Store
backend/.history
backend/.idea
backend/.vscode
backend/yarn-error.log
backend/pnpm-debug.log
